@import "reset.css";
@import "nav.css";
@import "footer.css";
@import "header.css";
@import "main.css";

* {
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  font-family: "Comic Neue";
  color: #020202;
}

a {
  color: inherit;
  text-decoration: none;
}
